<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1><a href="/">HOME</a></h1>
    <center><h1 style="color: darkgreen;">{{ food.name }}</h1></center>
    <h2>food calorie: {{ food.calorie }}</h2>
    <h2>food protin: {{ food.protin }}</h2>
    <form action="{% url 'food-detail' food_id=food.id %}" method="post">
        {% csrf_token %}
        {% if user_food_list %}
            <p>remove {{ food.name }} from your food_list: <input type="submit" value="{{ food.name }}" name="remove_food"></p>
        {% else %}
            <p>add {{ food.name }} to your food_list: <input type="submit" value="{{ food.name }}" name="add_food"></p>
        {% endif %}
    </form>
</body>
</html>